.container > .contentContainer > .contentContainerBackgroundRect {
  fill: #fafafa;
}

.container > .contentContainer .xAxis text {
  font-size: 8px;
}

.container > .contentContainer .line path {
  fill: transparent;
  stroke: #29b6f6;
  stroke-width: 2;
}

.container > .contentContainer .scatter circle {
  fill: #5c6bc0;
  stroke: #fafafa;
  stroke-width: 2;
}
